body {
  color: #021b21; /*'#' indicates that a hexadecimal value folows */
  background-color: #59869e;
  font-size: 18px;
  font-family: 'Mono' , monospace;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}


/* Link Styles */
a:link {
  color: #792c6f;
}
a:visited {
  color: #c64c1f;
}
a:active {
  color: #c00c66;
  }
  a:hover {
    color: #42835c;
}

/* List styles */
li {
  margin: 4px;
}

/* Image Styles */
img.header {
  display: block;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  width: 100%;
  height: 520px;
}

img.answer_img {
  float: left;
  height: 500px;
  margin-right: 20px;
  margin-bottom: 10px;
}

/** body.body_boxes {
  background-image: url(1cm-Dots_Green.png);
} **/

.question_header {
  color: #afdbdb;
  background-color: #021b21;
  cursor: crosshair;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 25px;
  font-family: inherit;
}


.active, .question_header:hover {
  background-color: #012933;
}

.question_contents {
  color: #111C1C;
  padding: 0 10px;
  display: none;
  overflow: hidden;
  background-color: #93ccd88c;
}

p.question_answer {
  color: #111C1C;
}

p.button {
  color: #FFFFFF;
  background-color:#000000;

  border: 30px solid #000000;
  border-radius: 30px;

text-align: center;
}

div.home {
  background-color: #0B3755;

  border: 30px solid #0B3755;
  border-radius: 30px;

  margin-left: auto;
  margin-right: auto;
  width: 80%;

}

strong.instructions {
  font-size: 15px;
}
